.items input{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    border:none;
    outline:none;
    border-radius: 20px;
}

.items .textbox{
    height: 25px;
    width: 90%;
}

.items .btn{
    border-radius: 20px;
    position: relative;
    height: 40px;
    color: white;
    font-size: 18px;
    background: #5BA4B3; 
    width: 30%;
}

table{
    width: 150%;
    border: 20px darkgray;
    display: inline;
    border-collapse: collapse ;
}
td, th{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

th{
    background-color: #5BA4B3;
}
caption{
    padding-bottom: 10px;
    padding-top: 10px;
}