{% extends "Base.html" %}

{% load static %}

{% block title %}Actualizar Producto{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href='{% static "css/Regispro.css" %}'>  

<header style="text-align: center;">
    <h2 class=" subtitle" style=" padding-top: 10px; color:#205459" >Actualizar Producto</h2>
</header>
<div class ="row center-xs" >
    <div class="card col-md-6 col-sm-6 col-xs-10 items">
        <br>
        <form action="{% url 'actualizarP' producto.Codigo %}" method = "POST"> {% csrf_token %}
            <input value = {{producto.Codigo}} name = "codigo" class="textbox" type="text"required placeholder="Codigo"> 
            <input value = {{producto.Nombre}} name = "nombre" class="textbox" type="text" required placeholder="Nombre del Producto">
            <input value = {{producto.Referencia}} name = "ref" class="textbox" type="text" required placeholder="Referencia">
            <input value = {{producto.Existencia}} name = "cant" class="textbox" type="number" required placeholder="Cantidad">
            <input value = {{producto.Categoria}} name = "cat" class="textbox" type="text" required placeholder="Categoría">
            <input value = {{producto.Precio}} name = "price" class="textbox" type="number" required placeholder="Precio">
            <input name = "enviar" class="btn" type="submit" value="Actualizar">
        </form>      
    </div>
{% endblock %}