{% extends "Base.html" %}

{% load static %}

{% block title %}Consultas{% endblock %}

{% block content %}
<link rel="stylesheet" href='{% static "css/consultas.css" %}'>

<div class="row center-xs">
    <div class="card col-md-10 col-sm-6 col-xs-10  ">
        <br>
        <br>
        <form action="{% url 'consulta' Proveedores %}">
          <select type="submit" name="Consulta" id="combo" placeholder="Seleccione su consulta.">
            <option>Productos</option>
            <option>Proveedores</option>
            <option>Nomina</option>
            <option>Ventas</option>
            <option>Pedidos</option>
          </select>
          <button type="submit">Buscar</button>
        </form>
        
       <br>
       <br>
        <table class="default">
            <caption>Consultar en el Sistema</caption>
            <tr>
              {% for item in headers %}
              <th>{{item}}</th>
              {% endfor %}
            </tr>
        </table>   
        <div">
            <br>
            <br>
            <br>
            <button class="btnimg" type="submit"><img src="{% static 'images/Pdficon.png' %}" alt="x" /></button>
            <button class="btnimg" type="submit"><img src="{% static 'images/Excelicon.png' %}" alt="x" /></button>                            <br>
            <br>
            <br>
        </div>  
    </div>
</div>
{% endblock %}