{% extends "Base.html" %}

{% load static %}

{% block title %}Consultas{% endblock %}

{% block content %}
<link rel="stylesheet" href='{% static "css/consultas.css" %}'>

<div class="row center-xs">
    <div class="card col-md-10 col-sm-6 col-xs-10  ">
        <br>
        <br>
        <form action="/consulta/" method="POST">
          {% csrf_token %}
          <select id="combo" name="comboc" placeholder="Seleccione su consulta.">
            <option hidden selected>{{categoria}}</option>
            <option>Productos</option>
            <option>Proveedores</option>
            <option>Nomina</option>
            <option>Ventas</option>
            <option>Pedidos</option>
          </select>
          <input name = "enviar" class="btn" type="submit" value="Buscar">
        </form>
       <br>
       <br>
        <table id='tablaC' class="default">
            <caption>Consultar en el Sistema</caption>
            <thead>
              <tr>
                {% for item in headers %}
                <th>{{item}}</th>
                {% endfor %}
                {% if categoria == 'Ventas' or categoria == 'Pedidos' %}
                <th>Detalle </th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for item in retorno %}
              <tr>
                {% if categoria == 'Productos' %}
                  <td>{{item.Codigo}}</td>
                  <td>{{item.Nombre}}</td>
                  <td>{{item.Referencia}}</td>
                  <td>{{item.Categoria}}</td>
                  <td>{{item.Precio}}</td>
                  <td>{{item.Existencia}}</td>
                {% elif categoria == 'Proveedores' %}
                  <td>{{item.NIT}}</td>
                  <td>{{item.Nombre}}</td>
                  <td>{{item.Telefono}}</td>
                {% elif categoria == 'Nomina' %}
                  <td>{{item.DNI}}</td>
                  <td>{{item.Nombre}}</td>
                  <td>{{item.Apellido}}</td>
                  <td>{{item.Cargo}}</td>
                  <td>{{item.Estado}}</td>
                {% elif categoria == 'Ventas' %}
                  <td>{{item.id}}</td>
                  <td>{{item.Empleado.Nombre}} {{item.Empleado.Apellido}}</td>
                  <td>{{item.Fecha}}</td>
                  <td>{{item.Total}}</td>
                  <td class="editbtn"><a class="btn" href="{% url 'detalleV' item.id %}">Ver más</a></td>
                {% elif categoria == 'Pedidos' %}
                  <td>{{item.id}}</td>
                  <td>{{item.Empleado.Nombre}} {{item.Empleado.Apellido}}</td>
                  <td>{{item.Proveedor.Nombre}}</td>
                  <td>{{item.Fecha}}</td>
                  <td>{{item.Hora}}</td>
                  <td>{{item.Total}}</td>
                  <td class="editbtn"><a class="btn" href="#">Ver más</a></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
        </table>   
        <div">
            <br>
            <br>
            <br>
            <button id="xlsbutton" class="btnimg" type="submit"><img src="{% static 'images/Excelicon.png' %}" alt="x" /></button>                            <br>
            <br>
            <br>
        </div>  
    </div>
</div>
<script>
  $('#xlsbutton').on('click', function(e) {
    let table = document.getElementById('tablaC');
    let rows = new Array();

    for (let i = 0; i < table.rows.length; i++) {
      rows[i]= new Array();
      for (let j = 0; j < table.rows[i].cells.length; j++) {
        rows[i][j]= table.rows[i].cells[j].innerHTML;
      }
    }
    
    csvContent = "data:text/csv;charset=utf-8,";
         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        var filename = document.getElementById("combo").value+".csv";
        link.setAttribute("download", filename);
        document.body.appendChild(link);
         /* download the data file named "Stock_Price_Report.csv" */
        link.click();
  });
</script>
{% endblock %}