{% extends "Base.html" %}

{% load static %}

{% block title %}Gestionar Nómina{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/gesnom.css' %}">
    <header style="text-align: center;">
        <h2 class=" subtitle" style=" padding-top: 10px; color:#205459" >Registrar Nómina</h2>
    </header>
<div class ="row center-xs" >
    <div class="card col-md-4 col-sm-4 col-xs-10 items">
        <br>
        <select class = "combo">
            {% for item in empleados %}
                <option value = '{{item.DNI}}'>{{item.Nombre}} {{item.Apellido}}</option>
            {% endfor %}
        </select>
        <input class="textbox" placeholder="Fecha inicial" type="text" onfocus="(this.type='date')" id="date"> 
        <input class="textbox" placeholder="Fecha final" type="text" onfocus="(this.type='date')" id="date"> 
        <input class="textbox" type="number" required placeholder="Salario/Hora">
        <input class="textbox" type="number" required placeholder="Horas laboradas">
        <input class="textbox" type="number" required placeholder="Horas extras">
        <input class="textbox" type="number" required placeholder="Horas dominicales">
        <input class="textbox" type="text" required placeholder="Salario Total">
        <input class="btn" type="button" value="Registrar">
    </div>
    <div class="card col-md-6 col-sm-6 col-xs-10  ">
        <table class="default">
            <caption>Nóminas anteriores</caption>
            <tr>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Salario Total</th>
                </tr>
                <tr>
                <td>01/04/2021</td>
                <td>Nicolás</td>
                <td>Montenegro</td>
                <td>$900.000</td>
                </tr>
                <tr>
                <td>15/03/2021</td>
                <td>Juan</td>
                <td>Rodríguez</td>
                <td>$800.000</td>
                </tr>
                <tr>
                <td>01/03/2021</td>
                <td>Pablo</td>
                <td>Ochoa</td>
                <td>$820.000</td>
                </tr>
        </table>
    </div>
</div>
{% endblock %}