{% extends "Base.html"%}

{% load static%}

{% block title %}Recibir Pedido{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/RecibPed.css' %}">
<link rel="stylesheet" href="{% static 'css/recibirpedido.css' %}">

<header style="text-align: center;">
    <h2 class=" subtitle" style=" padding-top: 10px; color:#205459" >Registrar Pedido Recien Llegado</h2>
</header>
<div class="row center-xs" >
    <div class="card col-md-10 col-sm-10 col-xs-10  ">
        <label id="lbltotal"for="Total">Seleccione un proveedor: </label>
        <select name="proveedor" class = "combo">
            {% for item in proveedores %}
            <option value="{{item.NIT}}">{{item.Nombre}}</option>
            {% endfor %}
        </select>

        <table id="tableProductos">
            <br>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Busca un producto...">
            <br>
            <br>
            <thead>
                <tr>
                    <th data-numeric = "0" data-column= "0" data-order="desc">Código &#9660</th>
                    <th data-numeric = "0" data-column= "1" data-order="desc">Nombre Producto &#9660</th>
                    <th data-numeric = "0" data-column= "2" data-order="desc">Referencia &#9660</th>
                    <th data-numeric = "1" data-column= "3" data-order="desc">Cantidad &#9660</th>
                    <th data-numeric = "0" data-column= "4" data-order="desc">Categoría &#9660</th>
                    <th data-numeric = "1" data-column= "5" data-order="desc">Precio &#9660</th>
                    <th>Añadir</th>
                </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
            <tr>
                <td >{{producto.Codigo}}</td>
                <td >{{ producto.Nombre }}</td>
                <td >{{ producto.Referencia }}</td>
                <td >{{ producto.Existencia }}</td>
                <td >{{ producto.Categoria }}</td>
                <td >{{ producto.Precio }}</td>
                <td><button data-product="{{producto.Codigo}}" data-nombre="{{producto.Nombre}}" data-precio="{{producto.Precio}}" class="btnimg" type="submit">+</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <script src="{% static 'js/Sorting.js' %}"></script>
    </div>
</div>
<br>
<br>
<div class="row center-xs" >
    <div class="card col-md-7 col-sm-7 col-xs-10  ">
        <h2>Productos en el pedido</h2>
        <table id="tableCart"  >
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="card col-md-3 col-sm-3 col-xs-10  ">
        <h2>Resumen</h2>
        {% csrf_token %}
        <label id="lbltotal"for="Total">Total:</label>
        <input name="total" type="text" id="totaltxt" readonly>
        <br>
        <br>
        <a href="/productos/"><button class="endbtn" id="confirm">Confirmar pedido</button></a>
        <br>
        <a href="#"><button onclick="clearCart()" class="endbtn" id="cancel">Cancelar pedido</button></a>
        <br>
        <br>
    </div>
</div>
<script>
    //Funcion para buscar un producto
    function myFunction() {
      // Declarar variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("tableProductos");
      tr = table.getElementsByTagName("tr");
    
      // Iterar a travs de las filas de la tabla, y esconder las que no coinciden con el término de búsqueda
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

function updateTotal(){
    let table = document.getElementById('tableCart');
    let total = 0;
    for(let i = 1; i < table.rows.length;i++){
        total += parseInt(table.rows[i].cells[3].innerHTML);
    }
    const txtt = document.getElementById('totaltxt');
    txtt.value = total;
}
//add item to cart
$('.btnimg').on('click',function(){

    const table = document.getElementById('tableCart');
    const tr = document.createElement('tr');
    const thCod = document.createElement('td');
    const thName = document.createElement('td');
    const thCant = document.createElement('input');
    const thPrice = document.createElement('td');
    const thSub = document.createElement('td');
    let price = $(this).data('precio');

    thSub.setAttribute('id','subtotal');
    thCant.setAttribute('class','cant');
    thCant.addEventListener('keyup',function(){
        let cant = $(this).val();
        let tPrice = $(this).next().html();
        const subt = cant*tPrice;
        $(this).next().next().html(subt+'.00');
        updateTotal();
    })
    
    thCod.innerText = $(this).data('product');
    thName.innerText = $(this).data('nombre');
    thCant.value = '1';
    thPrice.innerText = $(this).data('precio');
    thSub.innerText = $(this).data('precio');    

    tr.appendChild(thCod);
    tr.appendChild(thName);
    tr.appendChild(thCant);
    tr.appendChild(thPrice);
    tr.appendChild(thSub);
    table.appendChild(tr);

    updateTotal();  
});

function llenarProductos(){
      let tabla = document.getElementById("tableCart");
      let rows = tabla.rows;
      let columns = rows[0].cells;
      let p = new Array();
      for (let i = 1; i < rows.length; i++) {
        p[i-1]= new Array(columns.length-1);
        for(let j = 0; j < columns.length-1; j++) {
          p[i-1][j] = rows[i].cells[j].innerHTML;
        }
      }
      return p;
    }
  let productos = llenarProductos();
  let csrf = $('input[name="csrfmiddlewaretoken"]').val();  
  let submit = 0;

  $('#confirm').on('click', function(){
    let pr = llenarProductos();
    console.log(pr.length);
    let total = $('input[name="total"]').val(); 
    let proveedor = $('select[name="proveedor"]').val(); 
    submit = 1;
    $.ajax({
      type: "POST",
      url: "{% url 'endcompra' %}",
      beforeSend: function(xhr) {
        
        console.log(productos);
        submit = 1;
      },
      data: {'csrfmiddlewaretoken':csrf, 'submit':submit, 'num':pr.length, 'proveedor':proveedor, 'productos': pr, 'total':total}
    });
    alert('Compra realizada exitosamente');
    localStorage.clear(); 
  });

</script>
{% endblock %}
