{% extends "Base.html"%}

{% load static%}

{% block title %}Vender{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/Ventas.css' %}">

<header style="text-align: center;">
    <h2 class=" subtitle" style=" padding-top: 10px; color:#205459">Vender productos</h2>
</header>
<div class ="row center-xs" >
    <div class="card col-md-4 col-sm-4 col-xs-10 items">
        <br>
        <input class="textbox" type="number"required placeholder="Codigo del Producto"> 
        <input class="textbox" type="text" required placeholder="Nombre del Producto">
        <input class="textbox" type="number" required placeholder="Cantidad">
        <input class="btn" type="button" value="  Agregar al Carrito  ">
        <input class="btn" type="button" value="      Vender      ">
    </div>
    <div class="card col-md-6 col-sm-6 col-xs-10  ">
        <table class="default">
            <caption>Productos en el Carrito</caption>
            <tr>
                <th>Codigo</th>
                <th>Nombre del Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Precio total</th>
                </tr>
                <tr>
                <td>123456789</td>
                <td>Colores Magicolor</td>
                <td>2</td>
                <td>$10.000</td>
                <td>$20.000</td>
                </tr>
                <tr>
                <td>654987321</td>
                <td>Temperas Payasito</td>
                <td>2</td>
                <td>$4.000</td>
                <td>$8.000</td>
                </tr>
                <tr> 
                <td>3571596842</td>
                <td>1/8 Cartulina Amarilla</td>
                <td>3</td>
                <td>$1.200</td>
                <td>$3.600</td>
                </tr>
        </table>
        <div>
            <header>
                <h1>Total a Pagar: $31.600</h1>
            </header>
        </div>
        <br>
    </div>
</div>
{% endblock %}